.flex.mt2.mb0.pt0.pb0.justify-start.justify-between.vtex-flex-layout-0-x-flexRowContent.vtex-flex-layout-0-x-flexRowContent--btn-custom.items-stretch.w-100 {
  color: white !important;
  background: #336371 !important;
  display: block !important;
  width: 100% !important;
  padding: 20px !important;
  text-decoration: none !important;
  border-radius: 5px !important;
}
