.vtex-flex-layout-0-x-flexRowContent--btn-custom {
    & .items-stretch {

        & .vtex-store-link-0-x-link {
            & .vtex-store-link-0-x-label {
                background-color: black !important;
                color: #fff !important;
                width: 100% !important;
                border: solid 1px #ccc !important;
            }
            
        }
        
    }
}